<nav><a id="nav_home" href="/">Home</a><a id="nav_workbook" href="/workbook">Workbook</a><a id="nav_blogs" href="/blogs">Blogs</a><a id="nav_contact" href="/contact">My contacts</a></nav>
<script>
    document.getElementById('nav_'+page).classList.add("nav_select");
    console.log(page);
</script>